---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import url("https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css");


@mixin font($font-family, $font-file) {
    @font-face {
        font-family: $font-family;
        src: url($font-file+'.eot');
        src: url($font-file+'.eot?#iefix') format('embedded-opentype'),
            url($font-file+'.woff') format('woff'),
            url($font-file+'.ttf') format('truetype'),
            url($font-file+'.svg#aller') format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

@include font('Blacksword', '../assets/fonts/Blacksword');
@include font('Boomville', '../assets/fonts/Boomville-regular');
@include font('AmericanTypewriterCondensed', '../assets/fonts/AmericanTypewriter-Condensed');

// Our variables
$base-font-family: AmericanTypewriterCondensed, Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Colors
.is-warning, .has-background-warning {
    background-color: rgb(242, 221, 131) !important;
}

.has-text-warning {
    color: rgb(242, 221, 131) !important;
}

.is-danger, .has-background-danger {
    background-color: rgb(229, 115, 120) !important;
}

.has-text-danger {
    color: rgb(229, 115, 120) !important;
}

.is-success, .has-background-success {
    background-color: rgb(103, 175, 128) !important;
}

.has-text-success {
    color: rgb(103, 175, 128) !important;
}

.is-info, .has-background-info {
    background-color: rgb(98, 131, 194) !important;
}

.has-text-info {
    color: rgb(98, 131, 194) !important;
}

.is-primary, .has-background-primary {
    background-color: rgb(239, 137, 97) !important;
}

.has-text-primary {
    color: rgb(239, 137, 97) !important;
}

.content {
    h1, h2, h3 {
        font-family: Blacksword;
        font-weight: 100;
    }
}

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

hr {
    margin: 3rem 0;
}

.avatar {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: 0 auto -96px;
    width: 300px;
    height: 300px;
    background-size: cover;
    background-color: white;
    border: 10px rgb(242, 221, 131) solid;
    border-radius: 100%;

    img {
        margin: auto;
        max-width: 80%;
    }
}

.brand.title {
    font-family: Blacksword;
    cursor: pointer;
    -webkit-filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.3));
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.3));
    margin: 0 auto 4rem;
    max-width: 24rem;
    -webkit-transform: scale(1.125);
    -ms-transform: scale(1.125);
    transform: scale(1.125);
    -webkit-transition: 250ms ease;
    transition: 250ms ease;
    width: 80%;
}

h1.brand.title {
    font-size: 8rem;
    font-weight: 100;
}

.brand.subtitle {
    font-family: AmericanTypewriterCondensed;
}

h2.brand.subtitle {
    font-size: 2.5rem;
    letter-spacing: 1rem;
    margin-left: 2rem
}

h3.brand.subtitle {
    font-size: 1rem;
    letter-spacing: 0.25rem;
}

.section-separator {
    margin-top: calc(7px - 8rem);
    height: 4rem;
}

ul.list-unstyled {
    display: inline;
    list-style: none;
    margin: 0px;
}

.pb-0 {
    padding-bottom: 0;
}

.pt-0 {
    padding-top: 0;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}
.is-vertical-center {
  display: flex;
  align-items: center;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.is-vertical-center {
    display: flex;
    align-items: center;
}